.form-container {
    display: flex;
    flex-direction: column;
    width: 30%;
    padding: 25px 35px;
    border: 2px solid #dddddd;
    border-radius: 5px;
}

.form-container h1 {
    color: #1a5175
}

.form-container form {
    display: flex;
    flex-direction: column;
}

form button {
    background-color: #1a5276;
    margin-top: 0;
}

form label {
    font-weight: normal;
    color: #22486e
}

form textarea {
    background-color: #f8f9fa;
}

.form-control-buttons {
    margin-top: 15px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.reg-has-acc {
    display: flex;
    justify-content: center;
    margin: 15px 0;
    color: gray;
}

.error-block {
    color: #b00;
    background: #fee;
    padding: 10px;
    margin: 15px;
    border: 1px solid #b00;
    border-radius: 5px;
}